$bg: rgb(3, 5, 28);
$text: rgb(237, 218, 194);
$accent1: rgb(255, 132, 0);
$accent2: rgb(128, 42, 171);
$cardwidth: 60vw;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.body {
    background-color: $bg;
    color:$text;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.title {
    text-transform: uppercase;
    padding: 1vh;
    color: $accent2;
    width: $cardwidth;
}

.main {
    color: $accent1;
}

.catalogue {
    width: $cardwidth+20vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero {
    border: 2px solid transparent;
    padding: 0 5vw 1vh 5vw;
    margin: 1vh auto;
    border-radius: 20px;
    background: linear-gradient($bg, $bg) padding-box,
    linear-gradient(to right, $accent1, $accent2) border-box;
}

.image {
    margin: 2vw auto 0 auto;
    width: $cardwidth;
    border-radius: 1rem;
    flex-shrink: 0;
}
.description {
    height: 22vh;
}
.text {
    width: $cardwidth;
}
.star {
    font-size:2rem;
    cursor: pointer;
    color: #ccc;
}
.star.rated {
    color: #d1129e;
}
.star.hovered {
    color: #f47019;
}

