$bg: rgb(1, 2, 9);
$text: rgb(201, 200, 199);
// $accent3: rgb(165, 115, 245);
$accent2: rgb(240, 235, 230);
$accent1: rgb(60, 41, 69);
$rated: #8a0f69;
$cardwidth: 25vw;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.body {
    background-color: $bg;
    color:$text;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.title {
    text-transform: uppercase;
    padding: 1vh;
    color: $accent2;
    height: 8vh;
    text-align: center;
}

.main {
    color: $rated;
}

.catalogue {
    width: 90vw;
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax($cardwidth, 1fr));
    gap:1vw;
}

.hero {
    border: 2px solid transparent;
    width: $cardwidth+4vw;
    padding: 0 1vw 1vh 1vw;
    margin: 1vh auto;
    border-radius: 20px;
    background: linear-gradient($bg, $bg) padding-box,
    linear-gradient(to right, $accent1, $accent2) border-box;
}

.image {
    margin: 2vw auto 0 auto;
    width: $cardwidth - 2vw;
    border-radius: 1rem;
    flex-shrink: 0;
}
.description {
    height: 18vh;
}
.text {
    width: $cardwidth;
}
.star {
    font-size:3rem;
    cursor: pointer;
    color: rgba($text, 0.5);
}
.star.rated {
    color: $rated;
}
.star.hovered {
    color: rgba($rated, 0.7);
}

