$font: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.body {
    height: 100vh;
	font-family: $font;
	margin: 0;
	display: flex;
}

.calc {
    display: flex;
    flex-direction: column;
    gap:0.5vw;
    width: 60vw;
    margin: auto auto;
}

.button {
    margin: 0.5vw auto;
    padding: 1vw;
    width: 40%;
    border-radius: 50px;
}

.fieldset {
    display: flex;
    flex-direction: column;
}

#calculateButton {
    background-color: rgb(163, 237, 237);
}

.error {
    visibility: hidden;
    color: red;
    padding: 0;
    margin: 0;
    font-size: smaller;
}

#result {
visibility: hidden;
}

.hidden {
    color: gray;
}