$bg: rgb(3, 5, 28);
$text: rgb(237, 218, 194);


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.body {
    background-color: $bg;
    color:$text;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.title {
    text-transform: uppercase;
}

.catalogue {
    width: 70vw;
}

.image {
    width: 50vw;
}