$font: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;

$bg:  rgb(11, 3, 56);
$text:  rgb(251, 219, 193);
$accent: rgb(222, 112, 33);
$accent2: rgb(241, 150, 84);
$checked: rgb(23, 177, 136);
$error:  rgb(144, 31, 16);
$sucess:rgb(160, 255, 230);
$basicpadding: 1rem;
$smallpadding: 0.5rem;



* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	margin-block: 0;
	font-family: $font;
    color: $text;
}

.body {
	background-image: url(./background.jpg);
	background-size: cover;
	min-height: 100vh;
	height: 100%;
	position: relative;
	font-family: $font;
	margin: 0;
    color: $text;
    padding: 2vw;
}

.body::before {
	content: "";
	position: absolute;
	z-index: -1;
	height: 100%;
	min-height: 100vh;

	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	background-color: rgba($bg, 0.9);
}

.list {
    width: 80vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    text-transform: uppercase;
    padding: $basicpadding;
}
.task-input {
	width: 100%;
	display: flex;
	gap: $smallpadding
}
#input {
	font-size: 1rem;
}

.label {
    padding: $basicpadding;
}
.input {
    background-color: rgba($bg, 0.1);
    border: 1px solid $accent;
    padding: $smallpadding;
    border-radius: 0.3rem;
	background-color: rgba($accent, 0.1);
	flex-grow: 1;
}

.input:focus {
	outline: 2px solid $accent;
}

.error {
	background-color: rgba($error, 0.3);
	border: 1px solid $error;
	outline: 2px solid $error;
}

.button {
	background-color: rgba($accent2, 0.9);
	border: 1px solid $accent;
    padding: $smallpadding;
    border-radius: 0.3rem;
	font-size: 1rem;
	color: $bg;
}

.button:hover {
	background-color: rgba($accent, 0.9);
}

.tasklist {
	width: 100%;
	border: 1px solid $accent;
    padding: $smallpadding;
    border-radius: 0.3rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.task {
    border: 1px solid $accent;
    padding: $smallpadding;
    border-radius: 0.3rem;
	margin: $smallpadding auto;
	display: flex;
	justify-content: space-between;
}

.task:hover{
background-color: rgba($accent, 0.1);
}

.checkbox {
	background-color: rgba($accent, 0.2);;
    appearance: none;
	outline: 1px solid $accent;
    border-radius: 2px;
	width: 14px;
	height: 14px;
	margin: auto 1vh;
}

.checkbox:hover {
	background: rgba($accent, 0.7);
}

.checkbox:checked {
	background: $checked;
	outline: 1px solid $checked;
}

.button-container {
	display: flex;
	justify-content: space-between;
}
.clear {
	width: 48%;
}
.clear:disabled {
	background-color: rgba($sucess, 0.3);
	border: none;
}

.success {
	background-color: rgba($sucess, 0.3);
    padding: $smallpadding;
    border-radius: 0.3rem;
	margin: $smallpadding auto;
	text-align: center;
	color: $bg;
}